<footer id="footer">


    <a href="https://www.facebook.com/GSSSBOYS/">
      <i class="social-icon fab fa-facebook-f"></i>
    </a>


    <i class="social-icon fas fa-envelope"></i>
    <p>© Copyright Anshum</p>

  </footer>
</body>
</html>
