<%-include("partials/header")-%>

<div class="container-fluid contact-info">
  <h1>Contact Us</h1>
  <ul>
    <li>Office landline no. - 01882227152</li>
    <li>email - abc@gmail.com</li>

  </ul>

</div>





<footer id="footer-bottom">
    <i class="social-icon fab fa-facebook-f"></i>

    <i class="social-icon fas fa-envelope"></i>
    <p>© Copyright Anshum</p>

  </footer>
</body>
</html>
